<div id="mainnav">
    <a href="about">About Me</a>
    <a href="info">Site Info</a>
    <a href="music">Music</a>
    <a href="contact">Contact</a>
    <a href="links">Links</a>
</div>
<details id="mobilenav">
    <summary>Navigation</summary>
    <a href="about">About Me</a>
    <a href="info">Site Info</a>
    <a href="music">Music</a>
    <a href="contact">Contact</a>
    <a href="links">Links</a>
</details>