<div id="mainnav">
    <a href="about">About Me</a>
    <a href="info">Site Info</a>
    <a href="music">Music</a>
    <a href="contact">Contact</a>
    <a href="links">Links</a>
</div>
<details id="mobilenav">
    <summary>Navigation</summary>
    <a href="about">About Me</a>
    <a href="info">Site Info</a>
    <a href="music">Music</a>
    <a href="contact">Contact</a>
    <a href="links">Links</a>
</details>
<style>
#nav {
    background-color: var(--light);
    width: 100%;
    padding: 5px 15px;
    margin:0 -15px 10px;
    color:var(--text);
    font-family: var(--serif);
    font-size: 1.25rem;   
}
#mainnav {
    display:flex;
    list-style-type:none;
    justify-content: space-evenly;
    margin: 0;
  }
#nav a{
    text-decoration: none;
}
#nav a:hover{
    color: var(--bg);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
#mobilenav{
    display: none;
}
#mobilenav summary{
    padding: 5px;
}
#mobilenav a{
    display:block;
    padding: 5px;
    border-top: solid 1px var(--accent)
}

@media (max-width: 770px){
    #mobilenav{
    display: block;
    }
    #mainnav{display:none}
}
</style>